.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 2rem;
    gap: 1rem;
}
.Post>img{

    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 2rem;

}

.postReact{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}